#loginForm label{
 margin-right:5px;
 }

 #loginForm .short{
 font-weight:bold;
 color:#FF0000;
 font-size:larger;
 }

 #loginForm .weak{
 font-weight:bold;
 color:orange;
 font-size:larger;
 }

 #loginForm .good{
 font-weight:bold;
 color:#2D98F3;
 font-size:larger;
 }
 
 #loginForm .strong{
 font-weight:bold;
 color: limegreen;
 font-size:larger;
 }